/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .with-top-margin { margin-top: 5em; }

 .slothy {
  list-style: none;
  font-size: 15px;
  font-family: monospace;
  line-height: 18px;
}

.drama_button {
  width: 160px;
  height: 160px;
}
.drama_unicorn {
  height: 490px;
  width: 390px;
}

.drama_container {
  height: 300px;
  width: 300px;
}
.unicorn_image {
  height: 150px;
  width: 150px;
}
.carousel_image {
  height: 350px;
  width: 350px;
}
.carousel { width : 1000px; }
.item img { margin: 0 40%; }

/* home tabs */

.tab-content .tab-pane{
  text-align: center;
  font-size: 3em;
}
.home_tab{
  padding-top: 1em;
  padding-bottom: 1em;
}

// hack bootstrap
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
  border: 5px solid #333333;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-bottom-color: transparent;
}
.number_description {
  margin: .5em 0 .25em;
  color: #666;
}

/* Slider */

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}


/* Buttons */

.btn-bar {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  margin: 0 60px;
  color: #b14943;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}

a#prev:hover,
a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #b14943;
}