#crumbs_container
  - @crumbs.each do |crumb_data|
    .row
      %h4= "#{crumb_data.label} #{crumb_data.number}"
      - # build odometer
      .odometer.odometer-theme-car{ class: crumb_data.field_key, data: { theme: "car", number: crumb_data.number } }